*,
*::before,
*::after {
	box-sizing: border-box;
}

/**********************************/
/* 0. Variáveis
/* 1. Configurações gerais
/* 2. Menu
/* 3. Header
/* 4. Bem-vindo
/* 5. Serviços
/* 6. Sobre nós
/* 7. Contato
/* 8. Footer 

/**********************************/

/**********************************/
/* 0. Variáveis
/**********************************/
:root{
	--ff-primary: "Rubik", Helvetica, Arial, sans-serif;

	--clr-dark-blue: #080815;
	--clr-blue: #160E63;
	--clr-pink-dark: #BF389E;
	--clr-pink-light: #C6B6D0;
	--clr-white: #f5f5f5;
}
/**********************************/

/**********************************/
/* 1. Configurações gerais
/**********************************/
html{
	scroll-behavior: smooth;
}

body{
	background-color: var(--clr-dark-blue);
	color: var(--clr-white);
	font-family: var(--ff-primary);
}

a,
a:hover,
a:active,
a:link,
a:visited{
	text-decoration: none;
	color: var(--clr-white);
}

li{
	text-decoration: none;
	color: transparent;
}

p{
	line-height: 21.82px;
}

.section__titulo{
	text-align: center;
	font-size: 2.5rem;
	margin: 20px;
}
img{
	display: block;
	max-width: 100%;
}

.button {
	text-decoration: none;
	border-style: none;
	background-image: linear-gradient(90deg, #5A29D0 0%, #BF389E 100%);
	padding: 15px 40px;
	border-radius: 50px;
	font-weight: bolder;
	text-transform: uppercase;
	transition: all 0.2s ease-in-out;
  }
  .glow-button:hover {
	color: rgba(255, 255, 255, 1);
	box-shadow: 0 5px 15px rgba(145, 92, 182, .9);
  }

/**********************************/
/* 2. Menu
/**********************************/

.menu{
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 960px;
	margin: 0 auto;
	flex-wrap: wrap;
	padding: 40px 0;
}
.menu__logo{
	margin: 10px;
}
.menu__logo img{
	height: 100px;
}

.nav__list{
	display: flex;
	flex-wrap: wrap;
}
.nav__link{
	padding: 20px 10px;
}

/**********************************/
/* 3. Header
/**********************************/
.header{
    max-width: 960px;
	margin: 0 auto;
}
.header-c{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.header-c__text{
	flex: 6 1 160px;
}
.header-c button{
	margin: 10px 0;
}
.header-c__text p{
	text-align: justify;
}
.header-c__img{
	flex: 1 1 200px;
	padding-left: 20px;
}
.intro {
	color: var(--clr-pink-dark);
}

/**********************************/

/**********************************/
/* 4. Bem-vindo
/**********************************/
.welcome{
	max-width: 960px;
	margin: 40px auto;
	text-align: center;
}
.welcome-c__img{
	margin: 50px auto 0 auto;
	height: 50px;
}
.welcome-c__upgrade span{
	color: var(--clr-pink-dark);
	font-size: 32px;
}
.welcome-c__text p{
	max-width: 500px;
	margin: 0 auto;
}

/**********************************/

/**********************************/
/* 5. Serviços
/**********************************/

.servicos{
	max-width: 960px;
	margin: 50px auto;
	text-align: center;

}

.servicos-c{
	display: flex;
	flex-wrap: wrap;
	align-items:flex-start;
	justify-content: space-around;
	padding: 0 100px;
}

.servicos-c__hardware{
	max-width: 300px;
	background-color: var(--clr-blue);
	box-shadow: 0 5px 15px rgba(22, 14, 99, .9);
	border-radius: 10px;
	padding: 30px;
	margin: 10px;
	
}
.servicos-c__Software{
	max-width: 300px;
	background-color: var(--clr-pink-dark);
	box-shadow: 0 5px 15px rgba(191, 56, 158, .9);
	border-radius: 10px;
	padding: 30px;
	margin: 10px;
}
.servicos-c button{
	margin-top: 20px;
}
.servicos-c__Software button{
	border: solid 1px var(--clr-blue);
}
.servicos-c__site{
	max-width: 300px;
	background-color: var(--clr-blue);
	box-shadow: 0 5px 15px rgba(22, 14, 99, .9);
	border-radius: 10px;
	padding: 30px;
	margin: 10px;
}

/**********************************/

/**********************************/
/* 6. Sobre nós
/**********************************/
.sobre{
	max-width: 960px;
	margin: 50px auto;
	text-align: center;
	padding: 10px;
}

.sobre-c h2{
	color: #5A29D0;
	line-height: 5px;
}

.sobre-c img{
	width: 130px;
	margin: 0 auto;
}

.sobre-c p{
	font-weight: lighter;
}

.sobre-c__foto{
	display: flex;
	flex-wrap: wrap;
}
.sobre-c__joce{
	margin: 0 25px 0 auto;
}
.sobre-c__igor{
	margin: 0 auto 0 25px;
}
hr{
	border: none;
	border-radius: 10px;
	background-image: linear-gradient(90deg, #5A29D0 0%, #BF389E 100%);
	height: 5px;
	width: 60px;
	margin: 20px auto;
}

/**********************************/

/**********************************/
/* 7. Contato
/**********************************/

.contato-c__button{
	display: flex;
	align-items: center;
	margin: 0 auto;
	padding: 15px 100px;
}
.contato-c__button img{
	width: 25px;
	margin: 5px;
}

/**********************************/

/**********************************/
/* 8. Footer
/**********************************/